.mainb {
	width:25%;
}

.button1 {
	padding-top: 20%;
	padding-bottom: 20%;
	border: 1px solid white;
	background-color: #222222;;
	width: 100%;
	color: white;
}

.button1:hover {
	color: white;
	background-color: #efefef;
	color: black;
	cursor: pointer;
}
