.right {
	text-align: right;
	background-color: #222222;
	width: 99.8%;
	color: #3870e8;
	margin: 0px;
	padding-top: 3%;
	padding-bottom: 3%;
	border: 1px solid black;
	border-radius: 2px;
}

.move {
	padding-right: 15px;
	font-size: 30px;
}
